{# Plantilla de nuestra aplicación #}
{% extends 'base.html.twig' %}

{% block title %}Nueva Tapa{% endblock %}

{# Contenido de la aplicacion #}
{% block body %}
<!-- Page Content -->
<div class="container">

 {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</div>
{% endblock %}
