{# Plantilla de nuestra aplicación #}
{% extends 'base.html.twig' %}

{% block title %}Pagina Principal{% endblock %}

{# Contenido de la aplicacion #}
{% block body %}
  <h1>Contenido pagina principal de nuestra aplicacion</h1>
{% endblock %}
